* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

#bloc_page {
  width: auto;
  box-sizing: border-box;
  height: 100vh;
}

/* header */

header {
  grid-area: header;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f1eaf0;
}

.titre {
  grid-area: titre;
}

section {
  grid-area: section;
}

.container header logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1eaf0;
  box-sizing: border-box;
}

nav {
  position: relative;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 60px;
}

nav li {
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  color: black;
  padding: 5px;
}

nav li a {
  color: black;
}

nav li a:hover {
  text-decoration: none;
  list-style-type: none;
  color: blueviolet;
}

.nombre_produit {
  position: absolute;
  right: 50px;
  top: 1px;
  background-color: violet;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  color: white;
}

.container h2 {
  margin-top: 30px;
}

.rating a {
  color: orange;
  text-decoration: none;
  font-size: 1.5em;
  transition: color 0.4s;
}
.rating a:hover,
.rating a:focus {
  color: orange;
  cursor: pointer;
}

#products {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.card {
  border: 5px solid #f1eaf0;
  border-radius: 30px;
  margin: 10px;
  height: auto;
}

.card img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 250px;
}

.cardcontainer {
  padding: 20px;
}

.cardcontainer .btn {
  background-color: #f1eaf0;
  border: 3px solid #f1eaf0;
  color: #000;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 11px;
  text-decoration: none;
  padding: 8px;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.cardcontainer .btn:focus {
  cursor: pointer;
}
.cardcontainer .btn:hover {
  color: blueviolet;
}
h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

#formulaire {
  margin: 0 auto;
  width: 580px;
  padding: 2em;
  border: 3px solid blueviolet;
  border-radius: 1em;
}

#civilite {
  display: flex;
  flex-direction: row;
}

ul {
  list-style: none;
}

form li + li {
  margin-top: 2em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: center;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;

  border: 2px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 10px;
}

button {
  margin-left: 0.5em;
}

#commander {
  background-color: violet;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
  margin-left: 70px;
}

.bouton {
  background-color: violet;
  font-family: "Courier New", monospace;
  font-weight: bold;
  color: white;
  width: 100px;
  height: 40px;
}

#bouton_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input#teddy {
  margin-top: 10px;
  border: 3px solid black;
  border-radius: 8px;
  width: 30%;
  padding: 3px;
}

select#teddy {
  margin-top: 10px;
  border: 3px solid black;
  border-radius: 8px;
  width: 40%;
  padding: 3px;
}

.nombre {
  margin-left: 15px;
}

footer {
  grid-area: footer;
  margin-top: 30px;
  background-color: #f1eaf0;
  width: 100%;
  height: 30px;
  text-align: center;
}

.add {
  background-color: #f1eaf0;
  border: 3px solid #f1eaf0;
  color: #000;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 11px;
  text-decoration: none;
  padding: 8px;
  font-family: "Courier New", monospace;
  font-weight: bold;
  margin-bottom: 20px;
}

.add:focus {
  cursor: pointer;
}

.fa-times {
  position: absolute;
  margin-left: 160px;
  margin-top: 20px;
}

/* MEDIA QUERIES */

@media (max-width: 1234px) {
  header {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  nav ul {
    margin-top: 10px;
    margin-right: 0px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  #products {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 10%;
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;

    text-align: center;
  }
}

@media (max-width: 1024px) /*tablette*/ {
}
