#menu {
    position: fixed;
    display: flex;
    right: 0;
    margin-top: -3.2em;
    padding-right: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: larger;
  }

  #menu li{
    
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
    color: black;
    padding: 9px;
  }

  #menu li a{
    
    color: black;
    
  }

  #menu li a:hover{
      text-decoration: none;
      list-style-type: none;
      color: blueviolet;
  }

  .rating a {
    color: orange;
    text-decoration: none;
    font-size: 1.5em;
    transition: color .4s;
 }
 .rating a:hover,
 .rating a:focus {
    color: orange;
    cursor: pointer;
 }

.container header logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1eaf0;
}

#products {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid black;
    
}

.card{

    border: 5px solid #f1eaf0;
    border-radius: 30px;
    margin:10px;
    height: 500px;
    position: relative;
  
}

.card img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 250px;
}

.cardcontainer{
    padding: 20px;
}


.cardcontainer .btn{
    background-color: #f1eaf0;
    border: 3px solid #f1eaf0;
    border-radius: 200px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 8px;
    font-style: normal;


}

#besteller{
    background-color: blueviolet;
    border-radius: 4px;
    padding: 8px;
    text-decoration: none;
    color: wheat;
    position: absolute;
    right: 20px;
    margin-top: 15px;
    

}

#confirmation{

    background-color: violet;
    margin:10px;
    padding:10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-bottom:40px;
}

#totalboite{
    display: flex;
    flex-direction: row;
}

#total{
    background-color: violet;
    margin:10px;
    padding:10px;
    width: 30px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

#icon_supprime{
    position: absolute;
    margin-left: 370px;
    margin-top: 20px;
}